body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.index_north {
    width: 100%;
    height: 70px;
}

.index_west {
    width: 200px;
}