<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	
    <!-- <context:property-placeholder location="classpath:jdbc.properties,redis.properties"></context:property-placeholder> -->
    
    <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:redis.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8" />
	</bean>
    
	<context:component-scan base-package="com.imooc">
		<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation" />
	</context:component-scan>
	
	<!-- 启动前放置目录 -->
	<import resource="classpath:config/spring-dao.xml" />
  	<!-- <import resource="classpath:config/dubbo-consumer.xml" />
  	<import resource="classpath:config/dubbo-provider.xml" /> -->
  	
  	<!-- 引入redis，不需要的话可以注释该配置 -->
  	<import resource="classpath:config/spring-redis.xml"/>
  	
  	<!-- 引入rabbitmq，不需要的话可以注释该配置 -->
  	<import resource="classpath:config/spring-rabbitmq.xml"/>
  	
  	<bean name="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourceQuartz" />
		</property>
		<property name="configLocation" value="classpath:quartz.properties" />
		<property name="transactionManager" ref="transactionManager">
		</property>
		<property name="startupDelay" value="30"></property>
		<property name="applicationContextSchedulerContextKey">
			<value>applicationContext</value>
		</property>
	</bean>
  	
</beans>